<div class="chip-container" [class.active]="isActive" (click)="onClick()">
  <img class="chip-icon" [src]="getChipIconSrc(chips)" alt="{{ chips }}" />
  <span class="chip-name">{{ chips }}</span>

  <img
    *ngIf="isEditable && isActive"
    class="chip-status"
    src="assets/icons/cross.svg"
    width="24"
    height="24"
    alt="cross"
  />
  <img
    *ngIf="isEditable && !isActive"
    class="chip-status"
    src="assets/icons/plus.svg"
    width="24"
    height="24"
    alt="plus"
  />

  <!-- 
  <ng-container *ngIf="isEditable; else notEditable">
    <img class="chip-status" src="assets/icons/cross.svg" alt="cross" />
  </ng-container>
  <ng-template #notEditable>
    <img class="chip-status" src="assets/icons/plus.svg" alt="plus" />
  </ng-template> 
  -->

  <!-- 
  @if(isEditable) { @if(isActive) {
  <img class="chip-status" src="assets/icons/cross.svg" width="24" height="24" alt="cross" />
  } else {
  <img class="chip-status" src="assets/icons/plus.svg" width="24" height="24" alt="plus" />
  } } else { } -->
</div>
